* {
  font-family: "Inconsolata", monospace;
}
html {
}
h1 {
  justify-content: center;
  text-align: center;
  color: #43f70c;
  text-decoration: underline;
  text-decoration-color: red;
  font-size: 50px;
  font-weight: bolder;
  font-palette: dark;
  text-transform: uppercase;
}
h3 {
  display: flex;
  justify-content: center;
  color: #43f70c;
}

p {
  justify-content: center;
}

body {
  background: linear-gradient(
    176deg,
    rgb(18, 24, 27) 50%,
    rgb(32, 39, 55) 100%
  );
  min-height: 100vh;
  margin: 0;
  padding: 1em;
}


/* Navigation (ALL) */

@media (max-width: 549px){
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    justify-items: center;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 20px;
  }
  .gg-menu {
    align-self: center;
    transform: scale(var(--ggs,1)));
    background: #065c27 !important;
}
.gg-menu,
.gg-menu::after,
.gg-menu::before {
    box-sizing: border-box;
    position: relative;
    display: block;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background: rgb(6, 92, 39) !important;
}
.gg-menu::after,
.gg-menu::before {
    content: "";
    position: absolute;
    top: -6px
}
.gg-menu::after {
    top: 6px
}
  nav > i {
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
  .iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
  }
  
  .iframe-container iframe {
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 550px) {
  nav > .gg-menu {
    display: none;
  }

  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    border: 1px solid;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
    border-color: rgb(6, 92, 39);
  }

a {
  color: red;
  text-decoration: none;
}
a:hover {
  color: #43f70c;
}

.iframe-container {
  display: flex;
  justify-content: center;
}

iframe {
  border-radius: 30px;
}